@keyframes slideDown-Mobile {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft-Mobile {
    from {
        transform: translateX(-2rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slideDown-Mobile {
    animation: slideDown-Mobile 0.5s ease-out;
}

.animate-slideInLeft-Mobile {
    animation: slideInLeft-Mobile 0.5s ease-out backwards;
}