               @keyframes scaleOverlay-in {
                   from {
                       transform: scale(0.9);
                       opacity: 0;
                   }

                   to {
                       transform: scale(1);
                       opacity: 1;
                   }
               }

               .animateOverlay-scale-in {
                   animation: scaleOverlay-in 0.3s ease-out;
               }