@keyframes floatCard {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes floatCard-slow {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes floatCard-reverse {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }
}

@media (max-width: 768px) {
    @keyframes floatCard {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}